.config/Code/
.config/GIMP/
.config/KDE/
.config/Postman/
.config/PostmanAgent/
.config/QtProject.conf
.config/Slack/
.config/Trolltech.conf
.config/akregatorrc
.config/arkrc
.config/autostart/
.config/baloofileinformationrc
.config/bluedevilglobalrc
.config/configstore/
.config/create-next-app-nodejs/
.config/dconf/
.config/discoverrc
.config/dolphinrc
.config/drkonqirc
.config/emaildefaults
.config/enchant/
.config/evolution/
.config/gedit/
.config/gh/
.config/github-copilot/
.config/google-chrome/
.config/gtk-3.0/
.config/gtk-4.0/
.config/gtkrc
.config/gtkrc-2.0
.config/gwenviewrc
.config/ibus/
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/katemetainfos
.config/katerc
.config/kateschemarc
.config/katevirc
.config/kcminputrc
.config/kcmshell5rc
.config/kconf_updaterc
.config/kde.org/
.config/kdeconnect/
.config/kded5rc
.config/kded_device_automounterrc
.config/kdedefaults/
.config/kdeglobals
.config/kdialogrc
.config/kfontinstuirc
.config/kfontviewrc
.config/kglobalshortcutsrc
.config/khelpcenterrc
.config/khotkeysrc
.config/kinfocenterrc
.config/kmixrc
.config/konsolerc
.config/korgacrc
.config/krunnerrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ktimezonedrc
.config/kwalletrc
.config/kwinrc
.config/kwinrulesrc
.config/kxkbrc
.config/lattedockrc
.config/libaccounts-glib/
.config/libreoffice/
.config/mimeapps.list
.config/neofetch/
.config/nextjs-nodejs/
.config/okularpartrc
.config/okularrc
.config/pavucontrol-qt/
.config/plasma-localerc
.config/plasma-nm
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasmanotifyrc
.config/plasmashellrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/pulse/
.config/session/
.config/spectaclerc
.config/spotify/
.config/systemmonitorrc
.config/systemsettingsrc
.config/tabletprofilesrc
.config/touchpadxlibinputrc
.config/trashrc
.config/user-dirs.dirs
.config/user-dirs.locale
.config/wacomtablet-kderc
.config/xdg-desktop-portal-kderc
.config/xsettingsd/
.config/auroraerc
.config/chromium/
.config/fontconfig/
.config/kaccessrc
.config/klaunchrc
.config/ksplashrc
.config/notificationhelper
.config/plasma-nm.lock
.config/plasmarc
.config/sddmthemeinstallerrc
.config/flutter
.config/nvim
.config/htop/
.config/ksslcertificatemanager
.config/plasma-nm.lock.rmlock
.config/plasma.emojierrc
.config/MongoDB Compass/
.config/kiorc
.config/plasma-nm.lock.rmlock.rmlock
.config/vlc/
